/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/layout/layout.scss';
@use '@/assets/demo/demo.scss';

body {
    font-family: var(--p-font-family, 'Inter', sans-serif);
    margin: 0;
    padding: 0;
}